* {
    font-family: 'Poppins', sans-serif;
}

.headerr {
    color: #999999;
    font-size: 18px;
}

.headerr:active {
    color: #000000;
}

.jumbotron {
    margin-top: 40px;
    width: 1272px;
    background-color: white;
}

.jumbotron h1 {
    font-size: 42px;
    font-weight: 600;
}

.alight {
    margin-top: 20px;
    font-size: 18px;
    color: #999999;
}

.section-stats {
    margin-top: 50px;
}

.statistik {
    margin-right: 55px;
}

.statistik h2 {
    font-size: 32px;
}

.statistik h2 span {
    color: #8080FF;
}

.statistik p {
    color: #999999;
}

.search label {
    color: #999;
    margin-top: 10px;
}

.search-form {
    border: 0px solid #999;
    width: 350px;
    height: 4f0px;
    display: block;
    background-color: #ebebec;
}

.search-form::placeholder {
    color: black;
}

.btn-primary {
    display: block;
    background-color: #FF9376;
    margin-top: 15px;
    border: none;
}

.btn-primary:hover {
    background-color: #8080FF;
}

.hero-left {
    float: left;
    width: 45%;
}

.hero-right {
    float: right;
    width: 45%;
    height: 370px;
    background-color: #8080FF;
    margin-top: 95px;
    margin-right: 120px;
}

.hero-right img {
    width: 543px;
    margin-top: -168px;
}

.section-network {
    margin-top: 490px;
}

.section-network img {
    width: 80%;
}

.most-people-go {
    margin-top: 80px;
    font-family: 'Poppins', serif;
}

.most-people-go h2 {
    font-size: 36px;
}

.most-people-go p {
    margin-top: 10px;
    color: #999;
    font-size: 18px;
}

.image-populer {
    margin-top: 70px;
}

.img1 {
    display: inline-block;
    margin-right: 10px;
}

.img2 {
    display: inline-block;
    margin-right: 10px;
}

.img3 {
    display: inline-block;
    margin-right: 10px;
}

.img4 {
    display: inline-block;
}

.image-populer img {
    width: 250px;
    border-radius: 30px;
}